.thumbnails-container {
  overflow-x:auto;
  overflow-y: hidden;
  white-space: nowrap;
  padding: 20px 20px;
}

.thumbnail-image {
  width: 100%;
  height: 100%;
}

.thumbnail-button {
  width:100px;
  height: 80px;
  background-color: none;
  outline: none;
  border: 5px white solid;
  border-radius: 3px;
  display:inline-block;
  margin-left: 10px;
  padding: 0;
  transition: all 0.5s ease;
}

.thumbnail-button-selected {
  border: 5px #FF9800 solid;
  border-radius: 3px;
  transition: all 0.25s ease;
  opacity: 1;
}

.thumbnail-button-inactive {
  opacity: .3;
}

.thumbnail-button-active {
  opacity: 1;
}


