.selectedslide-container {
  align-items: center;
  display: flex;
  text-align: center;
  margin: 0 auto;
  max-width: 500px;
  min-height: 500px;
}

.selectedslide-active-image {
  max-width: 100%;
  min-width: 100%;
  object-fit: contain;
  height: auto;
  max-height: 500px;
  transition: all 0.1s ease-out;
  
}

.selectedslide-image-fadeout {
  opacity: 0;
}

.selectedslide-image-fadein {
  opacity: 1;
  box-shadow: 0px 2px 17px 3px grey;
}

.selectedslide-image-paused {
  opacity: 0.4;
}

.selectedslide-button {
  outline: none;
  border: none;
  background-color: none;
  padding: 0;
  position: relative;
  margin: 0 auto;
}

.selectedslide-button-paused {
   background-color: black;
}

.selectedslide-pause-button {
  border: double;
  border-width: 0px 0px 0px 50px;
  border-color: #ffffff;
  position: absolute;
  height: 100px;
  top: 25%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}